[Desktop Entry]
Hidden=true
GenericName[cs]=Přizpůsobení barevné teploty
GenericName[it]=Regolazione della temperatura del colore
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[zh_CN]=色温调节工具
GenericName[ru]=Настройка цветовой температуры
StartupNotify=true
Exec=redshift-gtk
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[da]=Justering af farvetemperatur
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[fr]=Outil de réglage de la température de couleur
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
GenericName[de]=Farbtemperatur Anpassung
Name[zh_CN]=红移
GenericName[pl]=Dostosowanie temperatury barwowej
Name[pl]=Redshift
GenericName[tr]=Renk sıcaklığı ayarı
Name=Redshift
Comment=Color temperature adjustment tool
Comment[da]=Justeringsværktøj for farvetemperatur
Terminal=false
Name[tr]=Redshift
Type=Application
Name[pt_BR]=Redshift
GenericName[es]=Ajuste de la temperatura de color
Name[de]=Redshift
Name[ru]=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Name[fr]=Redshift
GenericName[fr]=Réglage de la température de couleur
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[it]=Strumento per la regolazione della temperatura del colore
Name[es]=Redshift
Icon=redshift
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Version=1.0
GenericName[hu]=Szín hőmérséklet beállítás
Categories=Utility;
GenericName=Color temperature adjustment
GenericName[zh_CN]=色温调节
GenericName[nl]=Kleurtemperatuur aanpassing
Comment[de]=Farbtemperatur Anpassungswerkzeug
Name[it]=Redshift
X-GNOME-Autostart-enabled=false
Comment[hu]=Színhőmérséklet beállító eszköz
Name[lt]=Redshift
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Name[hu]=Redshift

